.wrapper {
    font-size: 16px;
    color: gray;
    font-family: 'Inter', sans-serif;
    text-transform: initial;
    line-height: 28px;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}