@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

@font-face {
  font-family: 'FiraCode';
  src: url('/Fonts/FiraCode/FiraCode-Light.ttf');
  font-weight: 100;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'FiraCode';
}

body {
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
  text-rendering: optimizeSpeed;
  background-color: black;
  color: white;
  font-size: 14px;
}


body::-webkit-scrollbar {
  display: none;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul,
ul,
li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: gray;
}